@media only screen and (max-width:428px){
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
html{
    scroll-snap-type: y proximity;
}
.contact{
    overflow: auto;
    scroll-snap-align: center;
}